<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each words}}
      {{word}}
    {{/each}}
    <form action="/new-word" method="post">
      <input type="text" name="word"
      placeholder="enter idea here">
      <input type="submit" name="submit" value="Submit">
    </form>

  </body>
</html>
