<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="new-post" method="post">
      <input type="text" name="word"
      placeholder="enter idea here">
    </form>

  </body>
</html>
