body {
    background-color: steelblue;
    color: rgb(240, 240, 240);
    font-size: 1.6em;
    font-family: sofia;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    src: url("SofiaProLight-webfont.ttf");
    font-family: sofia;
}

.formStuff {
    width: 35%;
    height: auto;
    margin: 300px auto;
}

#inputField {
    max-width: 100%;
    height: auto;
    font-size: 2.2em;
    border-radius: 20px;
    border: none;
    text-align: center;
    color: steelblue;
}

#inputField:focus {
    outline: none;
}

#clearButton {
    float: right;
    border: none;
    background-color: steelblue;
    color: rgb(102, 171, 229);
    font-size: 1.4em;
    text-align: right;
    margin: 0px auto;
}

#num_1 {
    position: absolute;
    left: 30%;
    top: 60%;
}

#num_2 {
    position: absolute;
    left: 30%;
    top: 10%;
}

#num_3 {
    position: absolute;
    left: 70%;
    top: 20%;
}

#num_4 {
    position: absolute;
    left: 80%;
    top: 5%;
}

#num_5 {
    position: absolute;
    left: 5%;
    top: 70%;
}

#num_6 {
    position: absolute;
    left: 55%;
    top: 3%;
}

#num_7 {
    position: absolute;
    left: 80%;
    top: 70%;
}

#num_8 {
    position: absolute;
    left: 95%;
    top: 40%;
}

#num_9 {
    position: absolute;
    left: 10%;
    top: 30%;
}

#num_10 {
    position: absolute;
    left: 75%;
    top: 65%;
}

#num_11 {
    position: absolute;
    left: 75%;
    top: 45%;
}

#num_12 {
    position: absolute;
    left: 35%;
    top: 77%;
}
